VITE_STORAGE_MODE=local
VITE_API_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bluesky_scheduler
CRON_SECRET=your-secret-here
VITE_METADATA_FETCHER_URL="https://linkpreview.magic.coolify.nico.fyi/api/v1/preview?url="
VITE_IMAGE_PROXY_URL="https://allorigins.magic.coolify.nico.fyi/raw?url="